pipeline/PL_INCR.json
{
	"name": "PL_INCR",
	"properties": {
		"activities": [
			{
				"name": "LahmanToStaging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetLatestWatermarkValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "insertedOn",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "select * from dbo.seriespost where lastupdated > '@{activity('GetLatestWatermarkValue').output.firstRow.watermarkValue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Lahman",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Learn_Staging",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetLatestWatermarkValue",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "S_TruncateStagingTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select watermarkValue from ctrl_table_watermarks where tablename = 'seriespost'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Learn_Watermark",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "StagingToHistory",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LahmanToStaging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"pId"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Learn_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Learn_Destination",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetMaxWatermarkValue",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "StagingToHistory",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select max(lastupdated) as lastupdated from dbo.seriespost_H",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Learn_Destination",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SP_UpdateLatestWatermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "GetMaxWatermarkValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateWatermark]",
					"storedProcedureParameters": {
						"datetime": {
							"value": {
								"value": "@activity('GetMaxWatermarkValue').output.firstRow.lastupdated",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"status": {
							"value": "success",
							"type": "String"
						},
						"tablename": {
							"value": "seriespost",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Learn",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "S_TruncateStagingTable",
				"description": "",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LS_Learn_Staging",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "truncate table dbo.seriespost_S"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-11-07T21:52:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}