pipeline/PL_StorePipelineExecution.json
{
	"name": "PL_StorePipelineExecution",
	"properties": {
		"activities": [
			{
				"name": "CP_DS_To_SQL",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Blob",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "cars.csv"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SQL",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "cars"
						}
					}
				]
			},
			{
				"name": "SP_LogActivity_OnSuccessOrError",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CP_DS_To_SQL",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_adfpipelinelogs]",
					"storedProcedureParameters": {
						"adfName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"errorCode": {
							"value": {
								"value": "@if(equals(activity('CP_DS_To_SQL').output.executionDetails[0].status, 'Succeeded'), '', activity('CP_DS_To_SQL').output.errors[0].Code)",
								"type": "Expression"
							},
							"type": "String"
						},
						"errorDescription": {
							"value": {
								"value": "@if(equals(activity('CP_DS_To_SQL').output.executionDetails[0].status, 'Succeeded'), '', activity('CP_DS_To_SQL').output.errors[0].Message)",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionStatus": {
							"value": {
								"value": "@activity('CP_DS_To_SQL').output.executionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"runId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"triggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-11-06T20:15:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}